<div id="Navbar">
  <div id="Profile">
    <div class="border">
      <div class="img">
        <img src="/assets/15006.jpg" alt="UserImage" />
      </div>
    </div>
      <p>Jitendra&nbsp;Jodhani</p>
  </div>
  <nav>
    <p class="MenuTitle">School</p>
    <ul>
      <li>
        <icon-dashboard class="svg"></icon-dashboard>Dashboard</li>
      <li routerLink="standard" (isActiveChange)="onRouterLinkActive('Standard')" routerLinkActive="nav_active"><icon-user class="svg"></icon-user>Standard</li>
      <li><icon-user class="svg"></icon-user>Students</li>
      <li><icon-bars class="svg"></icon-bars>Exam</li>
      <li><icon-bars class="svg"></icon-bars>Result</li>
    </ul>
    <p class="MenuTitle">Chattralaya</p>
    <ul>
      <li><icon-dashboard class="svg"></icon-dashboard>Dashboard</li>
      <li><icon-user class="svg"></icon-user>Students</li>
      <li><icon-bars class="svg"></icon-bars>Room</li>
      <li><icon-bars class="svg"></icon-bars>Result</li>
    </ul>
    <p class="MenuTitle">Banking</p>
    <ul>
      <li><icon-dashboard class="svg"></icon-dashboard>Student Details</li>
      <li><icon-user class="svg"></icon-user>Widraw Request</li>
      <li><icon-bars class="svg"></icon-bars>Room</li>
      <li><icon-bars class="svg"></icon-bars>Result</li>
    </ul>
  </nav>
</div>
