@mixin inputClass{
  display: flex;
  align-items: center;
  background-color: var(--secondaryColor);
  margin: 20px 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: 0.2s all;
  border:2px solid var(--secondaryColor) !important;
  input{
      background-color: var(--secondaryColor);
      border:2px solid var(--secondaryColor);
      padding: 7px;
      width: 100%;
      transition: 0.5s all;
      font-size: 12px;
      border-radius: 10px;
      transition: 0.5s all;
  }

  input:focus{
      outline: none !important;

  }

  img {
      padding:0px 10px;
      background-color: var(--secondaryColor);
      width: 20px;
      border-right: 1px solid var(--Primary_Color);
  }
  p{
      background-color: var(--secondaryColor);
      // padding-right: 10px;
      font-size: 12px;
      font-family: var(--open_sans_semi_bold);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 0px;
      margin-right: 10px;
  }

}
.nav {
  // height: 80px;
  box-shadow: 0px 1px 5px var(--shadow_color);

  background-color: var(--color_white);

  // justify-content: center;
  div {
    background-color: var(--color_white);
    height: 60px;
    display: flex;
    margin-left: 20px;
    align-items: center;
  }
  .logo{
    p{
      margin-left: 5px;
      font-family: var(--open_sans_bold);
      // font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      margin-right: 10px;
      color: var(--font_color);
    }
    img{
      width: 31px;
    }
    .logo_img{
      margin-left: 0px;
    }
  }
  marquee,
  .title {
    font-size: 24px;
    background-color: var(--color_white);
    color: var(--font_color);
    color: var(--Primary_Color);
    font-weight: 500;
    font-family: var(--open_sans_medium);
    margin-left: 10px;
  }

  .main {
    display: flex;
    width: 65%;
    margin: auto;
    justify-content: space-between;
  }


.logo_img{
  img{

    width: 35px;
  }
}

}

.bg {
  background: url(/assets/icon/circal.svg) ;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  .main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .card {
      padding: 30px 25px 10px 25px;
      margin: auto;
      background-color: var(--color_white);
      width: 350px;
      border: 1px solid var(--border_color50);
      box-shadow: 0px 0px 5px var(--shadow_color);
      border-radius: 10px;
      height: fit-content !important;

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color_white) !important;

        img {
          width: 80px;
        }
      }

      .text {
        text-align: center;
        margin: 30px;

        h2 {
          background-color: var(--color_white);
          font-size: 16px;
          font-family: var(--open_sans_bold);
        }
      }

      .form {
        background-color: var(--color_white);

        form {
          background-color: var(--color_white);

          .input {
            @include inputClass();
          }

          .input:focus-within {
            border: 2px solid var(--Primary_Color) !important;
          }

          .forgot {
            text-align: right;

            p {
              cursor: pointer;
              font-size: 12px;
              background-color: var(--color_white);
              font-family: var(--open_sans_semi_bold)
            }
          }

          .button {
            @include inputClass();

            // margin-bottom: 10px;
            // margin-top: 10px;
            button {
              width: 100%;
              border-radius: 10px;
              border: none;
              padding: 10px;
              font-size: 14px;
              background-color: var(--Primary_Color);
              color: var(--color_white);
              font-family: var(--open_sans_semi_bold);
              letter-spacing: 0.3px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 40px;
              // margin-bottom: 0px;
            }

          }

          .button:hover button {
            cursor: pointer;
            background-color: var(--Primary_Color_hover);
          }

        }
      }
    }

    .links {
      margin: 10px 0px;
      background-color: var(--color_white);

      h3 {
        font-family: var(--open_sans_bold);
        font-size: 16px;
        padding-left: 5px;
        margin-bottom: 5px;
      }

      .links_con {
        margin-left: 5px;
        padding: 8px;
        background-color: var(--color_white);
        border-radius: 8px;
        padding-left: 10px;
        display: flex;
        // justify-content: center;
        align-items: center;

        .icon_bg {
          // height: 12px;
          // width: 12px;
          background-color: var(--secondaryColor);
          border-radius: 5px;
          // border: 2px solid red;
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            width: 6px;
            height: 6px;
            margin: 10px;
            background-color: var(--Primary_Color);
            border-radius: 50px;
          }
        }

        .name {
          padding-left: 10px;
          font-size: 13px;
          font-family: var(--open_sans_semi_bold);
        }
      }

      .links_con:hover {
        cursor: pointer;
        background-color: var(--main_background);
      }

      .links_con:hover .name {
        text-decoration: underline;
      }
    }
  }

  // input:focus + .input{
  //     border-bottom:2px solid var(--Primary_Color) !important;
  // }
  .wave {
    // position: absolute;
    bottom: 0%;
    top: 0%;

    img {
      rotate: 180deg;
      // background-color: var(--border_color;
      color: var(--font_color);
    }
  }

  // .load{
  //     padding-top: 5px !important;
  //     padding-bottom: 14px !important;
  //     height: 40px;
  // }
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.error {
  animation: slide 600ms;
  position: absolute;
  top: 8%;
  right: 2%;
  background-color: var(--error);
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--open_sans_semi_bold);

  img {
    width: 20px;
    margin-right: 10px;
  }
}

@keyframes slide {
  from {
    right: 0px;
  }

  to {
    right: 2%;
  }
}
font{
  font-family: var(--open_sans_semi_bold);
}
