<div class="bg">
  <div class="nav">
    <div>
      <div class="logo">
        <div class="logo_img">
          <img src="/assets/logo.png" alt="" />
        </div>
        <p>Memnagar&nbsp;Gurukul</p>
      </div>
      <marquee scrollAmount="2" class="bold_font"
        >Shree Swaminarayan Gurukul Memnagar Ahmedabad | Shree Jogiswami
        Chhatralay | Shree Swaminarayan Gurukul Vidhyalay</marquee
      >
    </div>
  </div>
  <div class="main">
    <div class="card">
      <div class="logo">
        <img src="/assets/logo.png" alt="" />
      </div>
      <div class="text bold_font">
        <h2>Log in to Memnagar Gurukul</h2>
      </div>
      <div class="form">
        <form>
          <div class="input">
            <img src="/assets/icon/user.svg" alt="" />
            <input type="text" [(ngModel)]="loginInterface.username" class="midium_font" name="username"
              placeholder="Username" />
          </div>
          <font size="2" *ngIf="UsernameError" color="red">Username can not be empty</font>
          <div class="input">
            <img src="/assets/icon/password.svg" alt="" />
            <input [(ngModel)]="loginInterface.password" type="password" name="password" id="passwordFild"
              class="midium_font" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" />

            <p id="Showtext" *ngIf="!ShowPassword" (click)="toggalepass()" class="regular_font">
              Show
            </p>
            <p id="Showtext" *ngIf="ShowPassword" (click)="toggalepass()" class="regular_font">
              hide
            </p>
          </div>
          <font size="2"  *ngIf="PasswordError" color="red">Username can not be empty</font>
          <div class="forgot">
            <p>Forgot Password ?</p>
          </div>
          <div class="button">
            <button id="loadder" class="load" (click)="login()" *ngIf="click">
              <widget-loadder [maincolor]="false"></widget-loadder>
            </button>
            <button class="" (click)="login()" *ngIf="!click">Login</button>
          </div>
        </form>
      </div>
      <div class="hr"></div>
      <div class="links">
        <!-- <h3>Quick Links</h3> -->
        <div class="links_con">
          <div class="icon_bg">
            <div class="icon"></div>
          </div>
          <div class="name" routerLink="/gatepass">Gate Pass</div>
        </div>
        <div class="links_con">
          <div class="icon_bg">
            <div class="icon"></div>
          </div>
          <div class="name">Online Exam</div>
        </div>
        <div class="links_con">
          <div class="icon_bg">
            <div class="icon"></div>
          </div>
          <div class="name">View Result</div>
        </div>
        <div class="links_con">
          <div class="icon_bg">
            <div class="icon"></div>
          </div>
          <div class="name">Pay Fees</div>
        </div>
      </div>
    </div>
  </div>
  <div class="wave">
    <!-- <img src="/assets/icon/wave.svg" alt=""> -->
  </div>
</div>
<div class="error" *ngIf="error">
  <img src="/assets/icon/error.svg" alt="">
  {{ErrorText}}
</div>
<div class="warn" *ngIf="warning">
  <img src="/assets/icon/warning.svg" alt="">
    {{ErrorText}}
</div>
