$radius : 8px;
$boxshadow : 0px 0px 10px var(--shadow_color);
$border :1px solid rgba(219, 219, 219, 0.951);

.title{
  display: flex;
  justify-content: space-between;
  width: 98.5%;
  margin-bottom: 20px;
  div{
    font-family: var(--open_sans_bold);
    color: #8d8d8d;
    span{
      background-color: #D6F5E6;
      font-family: var(--open_sans_bold);
      color: black;
      padding: 2px 7px;
      margin-left: 5px;
      border-radius: 5px;
    }
  }
  .button{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    background-color: var(--Primary_Color);
    color: var(--color_white);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    p{
      font-family: var(--open_sans_semi_bold);
      margin: 0px;
    }
  }
}
table {
  width: 100%;
  border-collapse: collapse;

  .header {

    border-radius: $radius;
    display: table;
    width: 100%;
    table-layout:fixed ;
    th {

      text-align: left;
      background-color: var(--color_white);
      padding: 15px;
      padding-left: 20px;
      margin-bottom: 20px;
      font-family: var(--open_sans_bold);

    }

    th:first-child {

      border-bottom-left-radius: $radius;
      border-top-left-radius: $radius;

    }

    th:last-child {

      text-align: right;
      border-bottom-right-radius: $radius;
      border-top-right-radius: $radius;
      padding-right: 70px;

    }

    background: none;
    box-shadow: $boxshadow;
  }

  .space {

    background-color: transparent;

  }

  tbody {
    box-shadow: $boxshadow;
    border-radius: $radius;
    max-height: 75vh !important;
    display: block;
    width: 100%;
    overflow:auto ;
    tr {
      display: table;
      width: 100%;
      table-layout:fixed ;
      font-family: var(--open_sans_medium);
      border-radius: 10px;
      background-color: var(--color_white);
      border-top: $border;
      border-bottom: $border;

      td {
        padding-left: 20px;
        img{
          margin-top: 5px;
          width: 20px;
          padding: 8px;
          border-radius: $radius;
          transition: .2s all;
          margin-right: 85px;
        }
        img:hover{
          background-color: var(--border_color);
        }
      }
      .action{
        text-align: right;
      }
    }

    tr:first-child {
      border-top: none;

      td:first-child {
        border-top-left-radius: $radius;
      }

      td:last-child {
        border-top-right-radius: $radius;
      }
    }

    tr:last-child {

      border-bottom: none;

      td:first-child {
        border-bottom-left-radius: $radius;
      }

      td:last-child {
        border-bottom-right-radius: $radius;
      }
    }
  }
}

